# Server Configuration
PORT=4000
NODE_ENV=development

# Database Configuration (PostgreSQL / PostGIS)
DATABASE_URL="postgresql://gorush_admin:gorush_password@localhost:5432/gorush_backend?schema=public"

# Authentication (JWT Secret Key)
JWT_SECRET="your_jwt_secret_key_here"

# Redis Configuration (BullMQ & Cache)
REDIS_HOST="localhost"
REDIS_PORT=6379
